.body {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    color: $main_text;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.title {
    margin-bottom: 24px;
    font-family: Montserrat;
    font-size: 36px;
    color: $second_color;
    line-height: 150%;
}

.section {
    padding: 80px 0px;
}