@media (max-width: 1399.98px) {

 }
@media (max-width: 1199.98px) { 
    .container {
        max-width: 992px;
    }
    .section {
        padding: 80px 15px;
    }
    .hero__title {
        font-size: 42px;
    }
    .howto__content__text {
        margin-right: 30px;
    }
}
@media (max-width: 991.98px) {
    .container {
        max-width: 768px;
    }

    .hero {
        &__images__box {
            max-width: 100px;
            height: auto;
        }
    }
    
    .rooms__cards {
        justify-content: center;
    }
    .rooms__card {
        padding-right: 15px;
    }

    .card {
        .card__img {
            max-width: 100%;
        }
    }
    
    .howto__wrapper {
        flex-direction: column;
    }
    .howto__content__text {
        text-align: center;
        margin-bottom: 48px;
    }
    .howto__buttons {
        justify-content: center;
    }
    .comments__text {
        max-width: 75%;
    }

    .footer__info .info__list:not(:last-child) {
        margin-right: 50px;
    }
}
@media (max-width: 767.98px) { 
    .container {
        max-width: 576px;
    }
    .section {
        padding: 40px 15px;
    }
    
    .header .hamburger-label {
        display: flex;
    }

    .header__button {
        display: none;
    }

    .header {
        position: relative;
        z-index: 1000;
        background-color: #fff;
        &__logo {
            z-index: 1000;
        }
        .header__menu {
            position: absolute;
            top: -200%;
            right: 0;
            z-index: 0;
            width: 100%;
            flex-direction: column;
            text-align: center;
            padding: 20px;
            background-color: #fff;
            transition: top .5s ease;
            & .menu {
                &__item {
                    margin: 10px 0;
                    & > .menu__link  {
                        font-size: 21px;
                    }
                }
            }
        }
    }

    .rooms__card {
        padding-right: 0px;
    }

    .hero__wrapper {
        flex-direction: column;
        text-align: center;
    }
    .hero__content {
        max-width: 100%;
        margin: 0 0 48px 0;
    }
    .hero__images,
    .hero__images__box {
        max-width: 100%;
    }

    .hotel__wrapper  {
        flex-direction: column;
        text-align: center;
    }

    .hotel__img {
        display: none;
    }
    .advantages__content {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        &:nth-child(even) {
            margin: 0;
            flex-direction: column;
            .advantages__content__text {
                margin: 0 0  24px 0;
            }
        }
    }
    .advantages__content__text {
        margin: 0 0 24px 0;
    }
    .advantages__content__img {
        max-width: 100%;
    }

    .footer {
        padding: 80px 15px;
    }

    .footer__wrapper,.footer__info  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer__info .info__list:not(:last-child) {
        margin-right: 0px;
    }
    .footer__media .media__social {
        justify-content: center;
        margin-bottom: 48px;
    }
   
}
@media (max-width: 575.98px) {
    .hero{
        .hero__title {
            font-size: 26px;
        }    
    }
        
    .title {
        font-size: 24px;
    }

    .accordion__title {
        font-size: 18px;
    }

    .howto__button {
        margin: 0 0 32px 0;
    }
    .howto__buttons {
        flex-direction: column;
    }
    .howto__content__text {
        margin-right: 0px;
    }
}