$light_text: #fff;
$main_text: #848FAC;
$second_color: #192252;
$second_color_hover: #253072;
$second_color_light: #424F7B;
$bg_color: #aaaa;
$second_bg_color: #eeee;

$accrodion_btn_bg: #FFECE2;
$accrodion_active_color: #FF620A;